# -*- mode: gitignore -*-

.*
!.gitkeep

!/.gitignore
!/.gitattributes
!/.gitmessage
!/.jvmopts
!/.scalafmt.conf
!/.scalafix.conf

/abc.txt
/seektest.txt
/tmp1.out
/tmp2.out

/target

/project/*
!/project/Dependencies.scala
!/project/JavaOptions.scala
!/project/ScalaOptions.scala
!/project/build.properties
!/project/plugins.sbt
